.titleArea {
  height: 640px;
  margin: 0px;
  padding: 0px;
}

.logo {
  margin-top: 20px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
}

.userLogin {
  font-family: "Noto Sans", sans-serif;
  font-size: x-large;
}

.submitBtn {
  flex: 1 1 auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 2s;
  background-size: 200% auto;
  color: 000000;
  background-position: right center;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.submitBtn:hover {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #ffffff 100%
  );
}

.createAccount {
  font-family: "Noto Sans", sans-serif;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .titleArea {
    margin: 0px;
    padding: 0px;
  }

  .userLogin {
    font-family: "Noto Sans", sans-serif;
    font-size: large;
  }

  .inputBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    align-content: center;
  }

  .submitBtn {
    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 2s;
    background-size: 200% auto;
    color: 000000;
    background-position: right center;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }

  .submitBtn:hover {
    background-image: linear-gradient(
      to right,
      #232526 0%,
      #414345 51%,
      #ffffff 100%
    );
  }

  .createAccount {
    font-family: "Noto Sans", sans-serif;
    font-size: medium;
  }
}
